<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add  name="con"   connectionString ="Max Pool Size = 512;server=localhost;user id=root;password=123;database=FileManagement;charset=utf8" />
  </connectionStrings>
  <appSettings>
    <add key="path" value="C:\\Users\\Administrator\\Desktop\\" />
  </appSettings>
</configuration>